li{
    list-style-type: none;
    
}

ul{
    padding: 0;
}

.btn-edit{
    display: flex;
}

.data-control{
    display: inline-block;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#barra{
    margin-bottom: 1.875rem;
}

.habilidades{
    margin-right: 10px;
    margin-left: 10px;
}