<div class="card mat-card">
    <div class="divHabilidades">
     <div class="card-titles">
         <h2>Habilidades</h2>
     </div>
     <div class="data-control">
         <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i><i class="far fa-trash-alt"></i></a></div>
     </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 habilidades abajo derecha">
              <span class="habilidad">HTML</span> <br>
               <span class="estrella">★★★★★</span>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 habilidades abajo derecha" >
                <span class="habilidad">CSS</span> <br>
               <span class="estrella">★★★★★</span>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 habilidades abajo derecha" >
                <span class="habilidad">JavaScript</span> <br>
               <span class="estrella">★★★★★</span>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 habilidades abajo" >
                <span class="habilidad">Angular</span> <br>
               <span class="estrella">★★★★★</span>
            </div>
        </div>
    </div>
    <div class="container div2">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 habilidades derecha">
              <span class="habilidad">Git & GitHub</span> <br>
               <span class="estrella">★★★★★</span>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 habilidades derecha" >
                <span class="habilidad">Java</span> <br>
               <span class="estrella">★★★★★</span>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 habilidades derecha" >
                <span class="habilidad">Bootstrap</span> <br>
               <span class="estrella">★★★★★</span>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 habilidades" >
                <span class="habilidad">Node.js</span> <br>
               <span class="estrella">★★★★★</span>
            </div>
        </div>
    </div>
</div>